body {
    font-family: Arial, Helvetica, sans-serif;
}

.header_thing {
    display: inline-block;
    width: 100%;
}

.header_thing:hover {
    background-color: blue;
}

main {
    margin-left: 20%;
}

aside {
    position: fixed;
    left: 0;
    top: 100px
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px
}